:root{
    --background-color:#ffc0cb;
    --nav-color:#f5f5dc;
    --text-color:#FF69B4;
    --text-color-h1:#F5DEB3;
}


body{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
}

.box{
    display: flex;
    justify-content: right;
    font-size: 1.75rem;
    font-weight: 500;
    margin-top: 3rem;
    margin-right: 8rem;
    gap: 3rem;
}
.box a{
    text-decoration: none;
    box-shadow: transparent;
    
    
}
.container{
    background-color: var(--nav-color);
}
.img{
    margin-left: 20px;
    width: 400px;
    height: 550px;
}
.logo{
    border-radius: 30px;
}